</main>

<footer class="bg-light p-4 text-center">
    <h5>Created by JoinIT</h5>
    <h6>☎ 010-4242-3333</h6>
    <div class="mb-4">
        <button class="btn" style="color : #5928B1; border:1.5px solid #5928B1 ">고객센터</button>
        <button class="btn" style="color : #5928B1; border:1.5px solid #5928B1 ">오시는길</button>
    </div>
    <div class="text-muted small">
        <p class="mb-1">부산광역시 부산진구 중앙대로 749, 4층</p>
        <p class="mb-1">대표자: 예희승 ｜ 사업자등록번호: 123-45-xxxxx</p>
        <p class="mb-0">&copy; 2025 JoinIT Corp. All rights reserved.</p>
    </div>
</footer>
</body>

</html>