{{#sessionUser}}
    <li class="nav-item">
        <span class="nav-link text-success">안녕하세요, {{sessionUser.username}}님!</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/qna/list">Q&A</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/update-form">마이페이지</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user-sub/board-list">관심기업</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/board/application-resource-list">지원공고</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ppost/my-list">이력서</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">로그아웃</a>
    </li>
{{/sessionUser}}