{{#adminUser}}
    <li class="nav-item">
        <span class="nav-link text-success">안녕하세요, 관리자님!</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/com/tenco/blog/qna/save-form">기업회원1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/update-form">기업회원2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/update-form">개인회원1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/update-form">개인회원2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">로그아웃</a>
    </li>
{{/adminUser}}