{{#companyUser}}
    <li class="nav-item">
        <span class="nav-link text-info">안녕하세요, {{companyUser.username}}님!</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/qna/list">Q&A</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/company/update-form">마이페이지</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user-sub/ppost-list">관심구직자</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/board/my-list">채용공고</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/company/logout">로그아웃</a>
    </li>
{{/companyUser}}