{{> layout/header}}
<!--이력서 상세보기-->
<div class="container p-5">

    <!-- 수정삭제버튼 -->
    {{#ppost.PPostOwner}}
        <div class="d-flex justify-content-end">
            <!--페이지 이동 요청 -->
            <a href="/ppost/{{ppost.id}}/update-form" class="btn btn-warning me-1">수정</a>
            <form action="/ppost/{{ppost.id}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        </div>
    {{/ppost.PPostOwner}}

    <!-- 게시글내용 -->
    <div>
        <h2><b>{{ppost.title}}</b></h2>
        <b>작성자</b> : {{ppost.user.personalName}}
        <!--관심구직자 버튼-->
        {{#companyUser}}
            <form action="/company-sub/save" method="post">
                <input type="hidden" name="userId" value="{{ppost.user.id}}">
                <input type="hidden" name="ppostId" value="{{ppost.id}}">
                <button class="btn btn-primary btn-sm p-1 mt-1" onclick="return confirm('구독하시겠습니까?')">❤️ 관심구직자
                </button>
            </form>
        {{/companyUser}}
        <!--TODO 관심등록했으면 다시 눌러서 취소되도록? 현재 관심등록 중인지 아닌지 알수있도록?-->
        <hr/>
        <!-- board.boardSkills 리스트를 반복 -->
        {{#ppost.pPostSkills}}
            <!-- 반복문 안에서는 현재 요소(BoardSkill)의 skill 필드에 바로 접근 -->
            <span class="badge text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 me-1">{{skill.name}}</span>
        {{/ppost.pPostSkills}}

        <div class="m-4 p-2">{{ppost.content}}
        </div>
    </div>

    <!-- 댓글 -->
    <div class="card mt-3">
        <!-- 댓글등록 -->
        <div class="card-body">
            <form action="/reply/save" method="post">
                <textarea class="form-control" rows="2" name="comment"></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                </div>
            </form>
        </div>

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            <!-- 댓글아이템 -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">cos</div>
                    <div>댓글 내용입니다</div>
                </div>
                <form action="/reply/1/delete" method="post">
                    <button class="btn">🗑</button>
                </form>
            </div>
            <!-- 댓글아이템 -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">ssar</div>
                    <div>댓글 내용입니다</div>
                </div>
                <form action="/reply/1/delete" method="post">
                    <button class="btn">🗑</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}