{{> layout/header}}
<div class="container p-1">
    <div class="border border-secondary-subtle rounded-4 bg-white p-4 m-4">
        {{#ppost.PPostOwner}}
            <div class="d-flex justify-content-end">
                <a href="/ppost/{{ppost.id}}/update-form" class="btn btn-warning me-1">수정</a>
                <form action="/ppost/{{ppost.id}}/delete" method="post">
                    <button class="btn btn-danger">삭제</button>
                </form>
            </div>
        {{/ppost.PPostOwner}}

        <div>
            <h2><b>{{ppost.title}}</b></h2>
            <b>작성자</b> : {{ppost.user.personalName}}
            {{#companyUser}}
                <form action="/company-sub/save" method="post">
                    <input type="hidden" name="userId" value="{{ppost.user.id}}">
                    <input type="hidden" name="ppostId" value="{{ppost.id}}">
                    <button class="btn btn-primary btn-sm p-1 mt-1" onclick="return confirm('구독하시겠습니까?')">❤️ 관심구직자
                    </button>
                </form>
            {{/companyUser}}
            <hr/>
            {{#ppost.pPostSkills}}
                <span class="badge rounded-3 me-1" style="color: #4b0082; background-color: #f6ecff;">{{skill.name}}</span>
            {{/ppost.pPostSkills}}

            <div class="m-4 p-2" style="white-space: pre-line;">{{ppost.content}}</div>
        </div>
    </div>

</div>

{{> layout/footer}}