{{> layout/header}}

<div class="container p-5">
    <!-- 댓글목록 -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>📋 입사 지원자 목록</h2>
    </div>
    {{#applicationList}}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item mb-3">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{id}}" aria-expanded="false" aria-controls="{{id}}">
                    <b>{{#board}}
                        <div>이름 : {{title}}</div>
                    {{/board}}</b>
                </button>
            </h2>
            <div id="{{id}}" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{#user}}
                    <div class="list-group-item d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="me-3">이름 : {{username}}</div>
                                <div class="me-3">이메일 :{{email}}</div>
                            {{/user}}
                            <div class="me-3">합격여부 :{{status}}</div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <!-- 합격 버튼 -->
                            <form action="/application/{{id}}/accept" method="post" class="me-1">
                                <button type="submit" class="btn btn-success btn-sm"
                                        onclick="return confirm('이 지원자를 합격 처리할까요?')">합격
                                </button>
                            </form>

                            <!-- 불합격 버튼 -->
                            <form action="/application/{{id}}/reject" method="post">
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('이 지원자를 불합격 처리할까요?')">불합격
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/applicationList}}

    {{^applicationList}}
        <div class="card-body text-center">
            <p class="text-muted mb-0">아직 지원자가 없습니다</p>
        </div>
    {{/applicationList}}
</div>


{{> layout/footer}}