{{> layout/header}}

<div class="container p-5">

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>지원자 목록</b>
        </div>
        <div class="list-group">
            {{#applicationList}}
            {{#board}}
                <div class="px-1 me-1 bg-primary text-white rounded">이름 : {{title}}</div>
            {{/board}}


                {{#user}}
                    <div class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">

                                <div class="ms-3">이름 : {{username}}</div>
                                <div class="ms-3">이메일 :{{email}}</div>
                {{/user}}
                                <div class="ms-3">합격여부 :{{status}}</div>
                            </div>
                            <div class="d-flex">
                                <!-- 합격 버튼 -->
                                <form action="/application/{{id}}/accept" method="post" class="me-1">
                                    <button type="submit" class="btn btn-success btn-sm"
                                            onclick="return confirm('이 지원자를 합격 처리할까요?')">합격</button>
                                </form>

                                <!-- 불합격 버튼 -->
                                <form action="/application/{{id}}/reject" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            onclick="return confirm('이 지원자를 불합격 처리할까요?')">불합격</button>
                                </form>
                            </div>
                        </div>

                    </div>


            {{/applicationList}}

            {{^applicationList}}
                <div class="card-body text-center">
                    <p class="text-muted mb-0" >아직 지원자가 없습니다</p>
                </div>
            {{/applicationList}}
        </div>
    </div>
</div>

{{> layout/footer}}