{{> layout/header}}

<div class="container p-5">

    <!-- 수정삭제버튼 -->
    {{#board.boardOwner}}
        <div class="d-flex justify-content-end">
            <!--페이지 이동 요청 -->
            <a href="/board/{{board.id}}/update-form" class="btn btn-warning me-1">수정</a>
            <form action="/board/{{board.id}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        </div>
    {{/board.boardOwner}}

    <!-- 게시글내용 -->
    <div>
        <h2><b>{{board.title}}</b></h2>
        <div class="d-flex justify-content-start">
            <b>기업명</b>&nbsp;: {{board.company.businessName}} &nbsp;&nbsp;
            <b>대표자명</b>&nbsp;: {{board.company.ceoName}} &nbsp;&nbsp;
            <b>업종</b>&nbsp;: {{board.company.industry}} &nbsp;&nbsp;
        </div>
        <!--관심기업 버튼-->
        {{#sessionUser}}
            <form action="/user-sub/save" method="post">
                <input type="hidden" name="companyId" value="{{board.company.id}}">
                <input type="hidden" name="boardId" value="{{board.id}}">
                <button class="btn btn-primary btn-sm p-1 mt-1" onclick="return confirm('구독하시겠습니까?')">❤️ 관심기업
                </button>
            </form>
        {{/sessionUser}}
        <hr/>
        <div class="m-4 p-2" style="white-space: pre-line;">
            {{board.content}}
        </div>
    </div>

    <!-- 댓글 영역-->
    <div class="card mt-3">
        <!-- 로그인시 댓글등록 보임-->
        {{#sessionUser}}
            <div class="card-body">
                <form action="/reply/save" method="post">
                    <input type="hidden" name="boardId" value="{{board.id}}">
                    <textarea class="form-control" rows="2" placeholder="Enter comment" name="comment"></textarea>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                    </div>
                </form>
            </div>
        {{/sessionUser}}
        <!--        비 로그인시 로그인 안내-->
        {{^sessionUser}}
            <div class="card-body text-center">
                <p class="text-muted mb-0">
                    댓글을 작성하려면 <a href="/login-form">로그인</a>이 필요합니다.
                </p>
            </div>
        {{/sessionUser}}
        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            {{#board.replies}}
                <!-- 댓글아이템 -->
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <div class="px-1 me-1 bg-primary text-white rounded">{{user.username}}</div>
                        <div>{{comment}}</div>
                    </div>

                    {{#replyOwner}}
                        <form action="/reply/{{id}}/delete" method="post">
                            <input type="hidden" name="boardId" value="{{board.id}}">
                            <button class="btn" onclick="return confirm('댓글을 삭제하시겠습니까?')">🗑</button>
                        </form>
                    {{/replyOwner}}

                </div>
            {{/board.replies}}

            {{^board.replies}}
                <div class="card-body text-center">
                    <p class="text-muted mb-0">아직 댓글이 없습니다</p>
                </div>
            {{/board.replies}}

        </div>
    </div>
</div>

{{> layout/footer}}