{{> layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-end">
        <!--채용공고지원-->
        {{#sessionUser}}
            <form action="/application/{{board.id}}/save" method="post">
                <input type="hidden" name="boardId" value="{{board.id}}">
                <input type="hidden" name="companyId" value="{{board.company.id}}">
                <button class="btn btn-success">지원</button>
            </form>
        {{/sessionUser}}
        {{#board.boardOwner}}
            <!-- 수정삭제버튼 -->
            <a href="/board/{{board.id}}/update-form" class="btn btn-warning me-1">수정</a>
            <form action="/board/{{board.id}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        {{/board.boardOwner}}
    </div>

    <!-- 게시글내용 -->
    <div>
        <h2><b>{{board.title}}</b></h2>
        <div class="d-flex justify-content-start">
            <b>기업명</b>&nbsp;: {{board.company.businessName}} &nbsp;&nbsp;
            <b>대표자명</b>&nbsp;: {{board.company.ceoName}} &nbsp;&nbsp;
            <b>업종</b>&nbsp;: {{board.company.industry}} &nbsp;&nbsp;
        </div>
        <!--관심기업 버튼-->
        {{#sessionUser}}
        <div class="d-flex align-items-center gap-2">
            <form action="/user-sub/save" method="post">
                <input type="hidden" name="companyId" value="{{board.company.id}}">
                <input type="hidden" name="boardId" value="{{board.id}}">
                <button class="btn btn-primary btn-sm p-1 mt-1" onclick="return confirm('구독하시겠습니까?')">❤️ 관심기업
                </button>
            </form>
            {{> rating/rating-company}}
        {{/sessionUser}}
    </div>
        <hr/>

        <!-- board.boardSkills 리스트를 반복 -->
        {{#board.boardSkills}}
            <!-- 반복문 안에서는 현재 요소(BoardSkill)의 skill 필드에 바로 접근 -->
            <span class="badge rounded-3 me-1" style="color: #4b0082; background-color: #f6ecff;">{{skill.name}}</span>
        {{/board.boardSkills}}
        <div class="m-4 p-2" style="white-space: pre-line;">{{board.content}}</div>
        <div class="mt-4">
            {{> map/kakao-map}}
        </div>
    </div>

</div>

{{> layout/footer}}