{{> layout/header}}

<div class="container p-5">
    <div style="margin:1rem 0" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/board/save-form" class="btn btn-primary">글쓰기</a>
    </div>
    {{#boardList}}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title mb-3">{{title}}</h4>
                <p> 기업명 : {{company.businessName}}&nbsp|&nbsp{{time}}</p>
                <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    {{/boardList}}

    <ul class="pagination d-flex justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>

</div>

{{> layout/footer}}