{{> layout/header}}

<div class="container p-5">
    <div class="card mx-auto" style="width : 50%">
        <div class="card-header"><b>채용공고 작성화면</b></div>
        <div class="card-body">
            <form action="/board/save" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter businessName" value="{{company.businessName}}" disabled>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter ceoName" value="{{company.ceoName}}" disabled>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter industry" value="{{company.industry}}" disabled>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" name="title"
                           id="myInput" maxlength="40" oninput="updateCounter()">
                    <div id="counter" style="text-align: right; font-size: 13px;">0 / 40</div>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" placeholder="Enter content" name="content"></textarea>
                </div>
                <button class="btn btn-primary form-control">채용공고 작성완료</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}