{{> layout/header}}

<div class="container p-5">

    <div class="d-flex justify-content-center align-items-center vh-50">
        <div class="text-center m-2">
            <a href="/user/join-form" class="btn btn-primary m-2">👤 개인 회원가입</a>
            <a href="/company/join-form" class="btn btn-success m-2">🏢 기업 회원가입</a>
        </div>
    </div>

    <div id="user-join" class="card mx-auto" style="width : 50%">
        <div class="card-header text-center"><b>👤 회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="/join" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="아이디를 입력하세요" name="username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="비밀번호를 입력하세요" name="password">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="전화번호를 입력하세요" name="telephone">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="이름을 입력하세요" name="personalName">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="이메일를 입력하세요" name="email">
                </div>
                <button type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
            {{#errorMessage}}
                <p style="color:red">{{errorMessage}}</p>
            {{/errorMessage}}
        </div>
    </div>

</div>

{{> layout/footer}}