
<div class="card mt-3">
    {{#isLoggedIn}}
        <div class="card-body">
            <form action="/reply/save" method="post">
                <input type="hidden" name="qnaId" value="{{qna.id}}">
                <textarea class="form-control" rows="2" placeholder="Enter comment" name="comment"></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                </div>
            </form>
        </div>
    {{/isLoggedIn}}
    {{^isLoggedIn}}
            <div class="card-body text-center">
                <p class="text-muted mb-0">
                    댓글을 작성하려면 <a href="/user/login-form">로그인</a>이 필요합니다.
                </p>
            </div>
    {{/isLoggedIn}}
    <div class="card-footer">
        <b>댓글리스트</b>
    </div>
    <div class="list-group">
        {{#qna.replies}}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="px-2 me-2 bg-primary text-white rounded">{{authorName}}</div>
                    <div>{{comment}}</div>
                </div>

                {{#isReplyOwner}}
                    <form action="/reply/{{id}}/delete" method="post">
                        <input type="hidden" name="qnaId" value="{{qna.id}}">
                        <button class="btn" onclick="return confirm('댓글을 삭제하시겠습니까?')">🗑</button>
                    </form>
                {{/isReplyOwner}}

            </div>
        {{/qna.replies}}

        {{^qna.replies}}
            <div class="card-body text-center">
                <p class="text-muted mb-0">아직 댓글이 없습니다</p>
            </div>
        {{/qna.replies}}

    </div>
</div>