<!-- 댓글 영역-->
<div class="card mt-3">
    <!-- 로그인시 댓글등록 보임-->
    {{#sessionUser}}
        <div class="card-body">
            <form action="/reply/save" method="post">
                <input type="hidden" name="boardId" value="{{board.id}}">
                <textarea class="form-control" rows="2" placeholder="Enter comment" name="comment"></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                </div>
            </form>
        </div>
    {{/sessionUser}}
    <!--        비 로그인시 로그인 안내-->
    {{^sessionUser}}
        <div class="card-body text-center">
            <p class="text-muted mb-0">
                댓글을 작성하려면 <a href="/login-form">로그인</a>이 필요합니다.
            </p>
        </div>
    {{/sessionUser}}
    <!-- 댓글목록 -->
    <div class="card-footer">
        <b>댓글리스트</b>
    </div>
    <div class="list-group">
        {{#board.replies}}
            <!-- 댓글아이템 -->
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="px-1 me-1 bg-primary text-white rounded">{{user.username}}</div>
                    <div>{{comment}}</div>
                </div>

                {{#replyOwner}}
                    <form action="/reply/{{id}}/delete" method="post">
                        <input type="hidden" name="boardId" value="{{board.id}}">
                        <button class="btn" onclick="return confirm('댓글을 삭제하시겠습니까?')">🗑</button>
                    </form>
                {{/replyOwner}}

            </div>
        {{/board.replies}}

        {{^board.replies}}
            <div class="card-body text-center">
                <p class="text-muted mb-0">아직 댓글이 없습니다</p>
            </div>
        {{/board.replies}}

    </div>
</div>