{{> layout/header}}

<div class="container p-5">

    {{^isCompanyUser}}
        <div class="dropdown-center mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                기술스택
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">전체</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=Java">Java</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=Spring Boot">Spring Boot</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=MySQL">MySQL</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=JavaScript">JavaScript</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=Linux">Linux</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=React">React</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=Vue.js">Vue.js</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=Node.js">Node.js</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=Python">Python</a></li>
                <li><a class="dropdown-item" href="/board/filter?skill=Docker">Docker</a></li>
            </ul>
        </div>
        {{#boardList}}
            <div class="card mb-3">
                <div class="card-body">
                    <!-- {{! title}} 은 현재 Board 객체읭 title 멤버 변수에 값을 출력한다.
                        머스태치는 자동으로 getTitle()메서드를 호출한 것이다.-->
                    <h4 class="card-title mb-3">{{title}}</h4>
                    <p> 기업명 : {{company.businessName}}&nbsp|&nbsp{{time}}</p>
                    <div class="mb-3">
                        <!-- board.boardSkills 리스트를 반복 -->
                        {{#boardSkills}}
                            <!-- 반복문 안에서는 현재 요소(BoardSkill)의 skill 필드에 바로 접근 -->
                            <span class="badge bg-secondary me-1">{{skill.name}}</span>
                        {{/boardSkills}}
                    </div>
                    <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
                </div>
            </div>
        {{/boardList}}
    {{/isCompanyUser}}

    {{#isCompanyUser}}
        <div class="dropdown-center mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                기술스택
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">전체</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=Java">Java</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=Spring Boot">Spring Boot</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=MySQL">MySQL</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=JavaScript">JavaScript</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=Linux">Linux</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=React">React</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=Vue.js">Vue.js</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=Node.js">Node.js</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=Python">Python</a></li>
                <li><a class="dropdown-item" href="/ppost/filter?skill=Docker">Docker</a></li>
            </ul>
        </div>
        {{#ppostList}}
            <div class="card mb-3">
                <div class="card-body">
                    <!-- {{! title}} 은 현재 Board 객체읭 title 멤버 변수에 값을 출력한다.
                        머스태치는 자동으로 getTitle()메서드를 호출한 것이다.-->
                    <h4 class="card-title mb-3">{{title}}</h4>
                    <p> 작성자 : {{user.personalName}}&nbsp|&nbsp{{time}}</p>
                    <div class="mb-3">
                        <!-- board.boardSkills 리스트를 반복 -->
                        {{#pPostSkills}}
                            <!-- 반복문 안에서는 현재 요소(BoardSkill)의 skill 필드에 바로 접근 -->
                            <span class="badge bg-secondary me-1">{{skill.name}}</span>
                        {{/pPostSkills}}
                    </div>
                    <a href="/ppost/{{id}}" class="btn btn-primary">상세보기</a>
                </div>
            </div>
        {{/ppostList}}
    {{/isCompanyUser}}


    <ul class="pagination d-flex justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>

</div>

{{> layout/footer}}