{{^isCompanyUser}}
    <div class="dropdown-center mb-3">
        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="color : #5928B1; border:1.5px solid #5928B1 ">
            기술스택
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">전체</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=Java">Java</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=Spring Boot">Spring Boot</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=MySQL">MySQL</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=JavaScript">JavaScript</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=Linux">Linux</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=React">React</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=Vue.js">Vue.js</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=Node.js">Node.js</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=Python">Python</a></li>
            <li><a class="dropdown-item" href="/board/filter?skill=Docker">Docker</a></li>
        </ul>
    </div>

    <div class="row">
        {{#boardPage.content}}
            <div class="col-md-4 mb-4" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                <a href="/board/{{id}}" class="btn" style="display: block; width: 100%; text-decoration: none;">
                    <div class="card p-3 text-center" style="width: 100%;">
                        <div style="height: 100px; display: flex; justify-content: center; align-items: center;">
                            <img src="{{company.imageUrl}}" alt="회사 이미지"
                                 style="width: 150px; height: 100px; object-fit: contain; background-color: #fff;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">기업명 : {{company.businessName}}&nbsp;|&nbsp;{{time}}</p>
                            <div class="mb-3">
                                {{#boardSkills}}
                                    <span class="badge rounded-3 me-1" style="color: #4b0082; background-color: #f6ecff;">
                                        {{skill.name}}
                                    </span>
                                {{/boardSkills}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/boardPage.content}}
    </div>
{{/isCompanyUser}}

{{#isCompanyUser}}
    <div class="dropdown-center mb-3">
        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="color : #5928B1; border:1.5px solid #5928B1 ">
            기술스택
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">전체</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=Java">Java</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=Spring Boot">Spring Boot</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=MySQL">MySQL</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=JavaScript">JavaScript</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=Linux">Linux</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=React">React</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=Vue.js">Vue.js</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=Node.js">Node.js</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=Python">Python</a></li>
            <li><a class="dropdown-item" href="/ppost/filter?skill=Docker">Docker</a></li>
        </ul>
    </div>

    <div class="row">
        {{#ppostPage.content}}
            <div class="col-md-4 mb-4" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                <a href="/ppost/{{id}}" class="btn" style="display: block; width: 100%; text-decoration: none;">
                    <div class="card p-3 text-center" style="width: 100%;">
                        <div style="height: 100px; display: flex; justify-content: center; align-items: center; ">
                            <img src="/images/USER.jpg" alt="이력서 이미지"
                                 style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; background-color: #fff;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">작성자 : {{user.personalName}}&nbsp|&nbsp{{time}}</p>
                            <div class="mb-3">
                                {{#pPostSkills}}
                                    <span class="badge rounded-3 me-1" style="background-color: #9146d0;">
                                        {{skill.name}}
                                    </span>
                                {{/pPostSkills}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/ppostPage.content}}
    </div>
{{/isCompanyUser}}