{{> layout/header}}

<div class="list-group">
    <a href="http://localhost:8080/" class="list-group-item list-group-item-action active" aria-current="true">
        채용공고 목록
    </a>
    <a href="http://localhost:8080/board/13" class="list-group-item list-group-item-action">상세보기</a>
    <a href="#" class="list-group-item list-group-item-action">작성화면</a>
    <a href="#" class="list-group-item list-group-item-action">수정화면</a>
</div>

{{> layout/footer}}